<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> The Solar System! </title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>

        <h1>Welcome to the Solar System</h1>
        <p>Click on a planet to know more about it: </p>
            <a href="/mercury"> Mercury </a> <br>
            <a href="/venus"> Venus </a> <br>
            <a href="/mars"> Mars </a> <br>
            <a href="/saturn"> Saturn </a> <br>
            
            
        <img src="/img/solar.jpg" alt="The Solar System" />

    <hr>
    &copy; 2019. <br/>
    Disclaimer: The information in this page might be innacurate.
    </body>
</html>