<% include partials/header.ejs %>
    </head>
    <body>
        <img src="/img/solar_system.jpg">
        <h1>The Solar System is comprised of 8 planets:</h1>
        <dl id="list">
            <ul><strong>Four Inner Rocky Planets</strong></ul>
                <li>Mercury</li>
                <li>Venus</li>
                <li>Earth</li>
                <li>Mars</li>
            <ul><strong>Four Gas Giant Planets</strong></ul>
                <li>Jupiter</li>
                <li>Saturn</li>
                <li>Uranus</li>
                <li>Neptune</li>
            <h5>Pluto</h5>
        </dl>
        <h2>This website only goes over the four inner, rocky planets.</h2>
        <% include partials/footer.ejs %>
    </body>
</html>