<!-- All ejs tags go with the <%  %>tags -->
<% include partials/header.ejs %>


<body>
    
    <h1> Mercury Page! </h1>
    <p>Select a different planet to learn about: </p>
        <a href="/mercury"> Mercury </a> <br>
        <a href="/venus"> Venus </a> <br>
        <a href="/mars"> Mars </a> <br>
        <a href="/earth"> Earth </a> <br>

    
    <img src="img/mercury.jpg" width="50" />
    
    <div class="mercuryP">
                <p> The smallest planet in our solar system and nearest to the Sun, 
                Mercury is only slightly larger than Earth's Moon. From the surface of Mercury, 
                the Sun would appear more than three times as large as it does when viewed from Earth, 
                and the sunlight would be as much as seven times brighter. Despite its proximity to the Sun, 
                Mercury is not the hottest planet in our solar system – that title belongs to nearby Venus, thanks to its dense atmosphere.</p>
        </div>

    
    
    <% include partials/footer.ejs %>
    
</body>
</html>