<!-- All ejs tags go with the <%  %>tags -->
<% include partials/headers.ejs %>
<body>
    
    <h1> Venus Page! </h1>
    
    <img src="img/mercury.jpg" width="50" />
    
    <% include partials/footer.ejs %>
    
</body>
</html>