<!-- All ejs tags go with the <%  %>tags -->
<% include partials/header.ejs %>
<body>
    
    <h1> Venus Page! </h1>
    <p>Select a different planet to learn about: </p>
        <a href="/mercury"> Mercury </a> <br>
        <a href="/venus"> Venus </a> <br>
        <a href="/mars"> Mars </a> <br>
        <a href="/saturn"> Saturn </a> <br>
    
    <img src="img/venus.jpg" width="50" />
      <div class="venusPar">
                <p>Second planet from the Sun and our closest planetary neighbor, 
                Venus is similar in structure and size to Earth, but it is now a very different world. 
                Venus spins slowly in the opposite direction most planets do. Its thick atmosphere traps 
                heat in a runaway greenhouse effect, making it the hottest planet in our solar system—with surface 
                temperatures hot enough to melt lead. Glimpses below the clouds reveal volcanoes and deformed mountains. </p>
        </div>
    
    
    <% include partials/footer.ejs %>
    
</body>
</html>